<h2>Basic Template</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="save()" #myForm="ngForm" autocomplete="off">
      <!-- Product field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Product</label>
        <div class="col-sm-9">
          <input
            type="text"
            name="product"
            id=""
            [ngModel]="initForm.product"
            class="form-control"
            placeholder="Product Name"
            required
            minlength="3"
          />
          <span class="form-text text-danger" *ngIf="isValidName()">
            Must have 3 characters.
          </span>
        </div>
      </div>

      <!-- Price field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-9">
          <input
            type="number"
            name="price"
            id=""
            [ngModel]="initForm.price"
            class="form-control"
            placeholder="Price"
            required
          />
          <span class="form-text text-danger" *ngIf="isValidPrice()">
            Must be greather than 0
          </span>
        </div>
      </div>

      <!-- Stock field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Stock</label>
        <div class="col-sm-9">
          <input
            type="number"
            name="stock"
            id=""
            [ngModel]="initForm.stock"
            class="form-control"
            customMin
            [minimun]="0"
            placeholder="Product stock"
            required
          />
          <!-- <span class="form-text text-danger">Must have 3 characters.</span> -->
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            [disabled]="myForm.invalid"
            class="btn btn-primary float-end"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid }}</pre>
    <span>Pristine</span>
    <pre>{{ myForm.pristine }}</pre>
    <span>Touched</span>
    <pre>{{ myForm.touched }}</pre>
    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>
    <span>CustomDirective</span>
    <pre>{{ myForm.controls.stock?.errors | json }}</pre>
  </div>
</div>
